<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Editorial</title>
    <link rel="stylesheet" href="CSS/editorial.css"/>
</head>
<body>

  <header class="navbar">
    <div class="logo">
  <img src="IMG/logo.png" alt="Logo">
</div>

      <a class="menu" href="index.html"> MENU </a> 

    <!-- Botón de usuario con menú desplegable -->
   
  </header>

  <main class="contenido">

    <section class="consulta">
      <div class="titulo-consulta">
        <label>EDITORIALES</label>
        <button class="btn-consultar">
          CONSULTAR <span></span>
        </button>
      </div>

      <div class="buscar-id">
        <label for="buscar">BUSCAR POR ID:</label>
        <input type="text" id="buscar" placeholder="ej: 1"  >
      </div>
    </section>
  <div id="mensaje" style="display:none; padding: 10px; margin-top: 10px;"></div>
    <section class="lista">
      <p>Lista de Editoriales:</p>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>RUC:</th>
            <th>Nombre</th>
            <th>email</th>
            <th>telefono</th>
            <th>sitio web</th>
            <th>estado</th>
            <th class="acciones">Acciones</th>

          </tr>
        </thead>
        <tbody>
          <!-- Aquí irán las editoriales consultadas -->
        </tbody>
      </table>
    </section>

    <section class="acciones-finales">
      <button class="btn-agregar">AGREGAR</button>
    </section>

  </main>



   <script src="JS/editorial.js" defer></script>

   <script>
    // Mostrar / ocultar menú de usuario
    document.getElementById("userBtn").addEventListener("click", function () {
      const menu = document.getElementById("dropdownMenu");
      menu.style.display = menu.style.display === "block" ? "none" : "block";
    });

    // Cierra el menú si se hace clic fuera
    window.addEventListener("click", function (e) {
      if (!e.target.matches('#userBtn')) {
        document.getElementById("dropdownMenu").style.display = "none";
      }
    });
  </script>

</body>
</html>
